*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.img-div img{
  width: 100%;;
}
.item1{
  box-shadow: 2px 2px 5px #ddd;  
  width: 30% !important;
  margin-right: 2rem !important;
}
.item-inside{
  align-items: center !important;
  justify-content: center !important;

}
h1{
  font-size: 1rem;
  text-transform: capitalize;
}

p{
  font-size: 1rem;
  text-transform: capitalize;
  color: darkgreen;
}

  h4{
    font-size: 0.5rem;
  }
.price-book-divide{
  margin-top: -1rem;
}